<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>adminV05W08</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/-Login-form-Page-BS4-.css">
    <link rel="stylesheet" href="assets/css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="assets/css/Data-Table-1.css">
    <link rel="stylesheet" href="assets/css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css">
    <link rel="stylesheet" href="assets/css/Data-Table.css">
    <link rel="stylesheet" href="assets/css/Forum---Thread-listing-1.css">
    <link rel="stylesheet" href="assets/css/Forum---Thread-listing.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="assets/css/LinkedIn-like-Profile-Box.css">
    <link rel="stylesheet" href="assets/css/Pretty-User-List.css">
    <link rel="stylesheet" href="assets/css/Profile-Card.css">
    <link rel="stylesheet" href="assets/css/Table-With-Search-1.css">
    <link rel="stylesheet" href="assets/css/Table-With-Search.css">
    <link rel="stylesheet" href="assets/css/untitled-1.css">
    <link rel="stylesheet" href="assets/css/untitled-2.css">
    <link rel="stylesheet" href="assets/css/untitled-3.css">
    <link rel="stylesheet" href="assets/css/untitled-4.css">
    <link rel="stylesheet" href="assets/css/untitled-5.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <link rel="stylesheet" href="assets/css/User-Information-Panel---Lite--Secondary-User-Panel-Footer.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row mh-100vh">
            <div class="col-10 col-sm-8 col-md-6 col-lg-6 offset-1 offset-sm-2 offset-md-3 offset-lg-0 align-self-center d-lg-flex align-items-lg-center align-self-lg-stretch bg-white p-5 rounded rounded-lg-0 my-5 my-lg-0" id="login-block" style="background: #000000;">
                <div class="m-auto w-lg-75 w-xl-50">
                    <h2 class="text-info font-weight-light mb-5" style="color: #d0a14c;margin-top: 30px;"><i class="fa fa-diamond" style="color: #fec503;border-color: #f3bd01;"></i>&nbsp; &nbsp;ATTA'</h2>
                    <div style="width: 314px;">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab" id="charity" href="#tab-5" name="charity">Charity</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" id="Charity-Representative" href="#tab-6" name="Charity Representative">Charity Representative</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="tab-5">
                                <form>
                                    <div class="form-group"><label class="text-secondary">Email</label><input class="form-control" type="text" id="email-2" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,15}$" inputmode="email" name="email"></div>
                                    <div class="form-group"><label class="text-secondary">Name </label><input class="form-control" type="text" id="name-2" required="" inputmode="email" name="name"></div>
                                    <div class="form-group"><label class="text-secondary">Phone Number</label><input class="form-control" type="text" id="phoneNumber-2" required="" inputmode="email" minlength="10" maxlength="10" pattern="0+5+[0-9]+[0-9]$" name="phoneNumber"></div>
                                    <div class="form-group"><label class="text-secondary">Password</label><input class="form-control" type="password" id="password-3" required="" minlength="6" maxlength="20" name="password"></div>
                                    <div class="form-group"><label class="text-secondary">Confirm Password</label><input class="form-control" type="password" id="password-4" required="" minlength="6" maxlength="20" name="password1"><a class="btn btn-info mt-2" role="button" id="sginup-2" href="login.html" name="sginup">Sign up</a></div>
                                </form>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-6">
                                <form>
                                    <div class="form-group"><label class="text-secondary">Email</label><input class="form-control" type="text" id="email-3" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,15}$" inputmode="email" name="email"></div>
                                    <div class="form-group"><label class="text-secondary">Name </label><input class="form-control" type="text" id="name-3" required="" inputmode="email" name="name"></div>
                                    <div class="form-group"><label class="text-secondary">Chatiry</label><select class="form-control" id="charity-1" name="charity">
                                            <option value="12" selected="">Charity1</option>
                                            <option value="13">Charity2</option>
                                        </select></div>
                                    <div class="form-group"><label class="text-secondary">Phone Number</label><input class="form-control" type="text" id="phoneNumber-3" required="" inputmode="email" minlength="10" maxlength="10" pattern="0+5+[0-9]+[0-9]$" name="phoneNumber"></div>
                                    <div class="form-group"><label class="text-secondary">Password</label><input class="form-control" type="password" id="password-5" required="" minlength="6" maxlength="20" name="password"></div>
                                    <div class="form-group"><label class="text-secondary">Confirm Password</label><input class="form-control" type="password" id="password-6" required="" minlength="6" maxlength="20" name="password1"><a class="btn btn-info mt-2" role="button" id="sginup-3" href="login.html" name="sginup">Sign up</a></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0"><a class="text-info small" href="login.html" style="border-color: #a7871a;">Has an account.</a></p>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-end" id="bg-block" style="background: url(&quot;assets/img/header-bg.jpg&quot;) center center / cover;">
                <p class="ml-auto small text-dark mb-2"><br></p>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav" style="height: 64.656px;">
        <div class="container"><a class="navbar-brand" href="#page-top" style="color: rgb(167,135,26);">ATAA'</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="login.html">LOGIN</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/agency.js"></script>
    <script src="assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="assets/js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
</body>

</html>